.App {
  padding: 30px;
  display: flex;
  background-color: dimgrey ;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.errorCSS{
  outline: none ;
  border: 2px solid red;
}


.active_filter_button {
  background-color: aqua;
}

.is_done_task{
  opacity: 0.5;
}
